.dashboard
{
	height: calc(100vh - 100px);
}

.indicator {
  &-speed {
    &__speed {
      font-size: 120px;
      line-height: 0.75;
    }

    &__symbol {
      font-size: 40px;
    }
  }

  &-timer
  {
	  &__stopwatch
	  {
		  margin-top: 20px;
		  font-size: 60px;
	  }
  }
}

.data {
  &__header1 {
    font-size: 40px;
  }

  &__header2 {
    font-size: 30px;
  }

  &__bottom {
    font-size: 20px;
  }
}

.timer
{
	&__controls
	{
		padding: 1.2rem 1.56rem;
	}
}