<div class="navbar__top-decor"></div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a class="navbar-brand" href="#">
		GhostTimer&trade;
	</a>
	<ul class="navbar-nav">
		<!-- <li class="nav-item">
			<a class="nav-link" href="#">Link 1</a>
		</li> -->
	</ul>
</nav>
<section class="container dashboard">
	<div class="row text-center">
		<div class="col indicator-timer__stopwatch">
			<span *ngIf="Hours < 10">0{{ Hours }}:</span>
			<span *ngIf="Hours >= 10">{{ Hours }}:</span>
			<span *ngIf="Minutes < 10">0{{ Minutes }}:</span>
			<span *ngIf="Minutes >= 10">{{ Minutes }}:</span>
			<span *ngIf="Seconds < 10">0{{ Seconds }}.</span>
			<span *ngIf="Seconds >= 10">{{ Seconds }}.</span>
			<span *ngIf="HundredthSeconds < 10">0{{ HundredthSeconds }}</span>
			<span *ngIf="HundredthSeconds >= 10">{{ HundredthSeconds }}</span>
		</div>
	</div>
	<br />
	<div class="row text-center">
		<div class="col">
			<button type="button" class="btn btn-success rounded-circle timer__controls" aria-label="Start timer" (click)="StartTimerInterval()" *ngIf="!TimerStarted">
				<i class="fa fa-play"></i>
			</button>
			<button type="button" class="btn btn-danger rounded-circle timer__controls" aria-label="Stop timer" (click)="StopTimerInterval()" *ngIf="TimerStarted">
				<i class="fa fa-stop"></i>
			</button>
		</div>
	</div>
	<hr />
	<div class="row text-center">
		<div class="col">
			<span class="indicator-speed__speed">{{ SpeedInMPH }}</span><span class="indicator-speed__symbol"> mph</span>
		</div>
	</div>
	<br />
	<div class="row text-center">
		<div class="col">
			<div class="data__header1">{{ Direction }}</div>
			<div class="data__bottom">{{ Heading }}&#176;</div>
		</div>
		<div class="col">
			<div class="data__header2">{{ Altitude }} ft</div>
			<div class="data__bottom">Altitude</div>
		</div>
	</div>
	<br />
	<div class="row text-center">
		<div class="col">
			<div class="data__header2">{{ Latitude }}</div>
			<div class="data__bottom">Latitude</div>
		</div>
		<div class="col">
			<div class="data__header2">{{ Longitude }}</div>
			<div class="data__bottom">Longitude</div>
		</div>
	</div>
</section>
<footer class="container">
	<div class="row text-center">
		<div class="col">
			<p>v1.0.0</p>
			<span [ngClass]="WakeLockClass">{{WakeLockMessage}}</span>
		</div>
	</div>
</footer>