<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ PageTitle }}</li>
	</ol>
</nav>
<div>
	<button type="button" (click)="StartTimerInterval()">Start</button>
	<button type="button" (click)="StopTimerInterval()">Stop</button>
</div>
<section class="container">
	<div class="row text-center">
		<div class="col">
			<span *ngIf="Hours < 10">0{{ Hours }}:</span>
			<span *ngIf="Hours >= 10">{{ Hours }}:</span>
			<span *ngIf="Minutes < 10">0{{ Minutes }}:</span>
			<span *ngIf="Minutes >= 10">{{ Minutes }}:</span>
			<span *ngIf="Seconds < 10">0{{ Seconds }}:</span>
			<span *ngIf="Seconds >= 10">{{ Seconds }}:</span>
			<span *ngIf="HundredthSeconds < 10">0{{ HundredthSeconds }}</span>
			<span *ngIf="HundredthSeconds >= 10">{{ HundredthSeconds }}</span>
		</div>
		<div class="col">
			<span class="speedInKnots__speed">{{ SpeedInMPH }}</span><span class="speedInKnots__symbol"> mph</span>
		</div>
	</div>
	<br/>
	<div class="row text-center">
		<div class="col">
			<div class="data__header1">{{ Direction }}</div>
			<div class="data__bottom">{{ Heading }}&#176;</div>
		</div>
		<div class="col">
			<div class="data__header2">{{ Altitude }} ft</div>
			<div class="data__bottom">Altitude</div>
		</div>
	</div>
	<br/>
	<div class="row text-center">
		<div class="col">
			<div class="data__header2">{{ Latitude }}</div>
			<div class="data__bottom">Latitude</div>
		</div>
		<div class="col">
			<div class="data__header2">{{ Longitude }}</div>
			<div class="data__bottom">Longitude</div>
		</div>
	</div>
</section>