.speedInKnots
{
	&__speed
	{
		font-size: 120px;
    	line-height: 0.75;
	}

	&__symbol
	{
		font-size: 40px;
	}
}

.data
{
	&__header1
	{
		font-size: 40px;
	}

	&__header2
	{
		font-size: 30px;
	}

	&__bottom
	{
		font-size: 20px;
	}
}